/* Minibar */

.minibar {
  height: 100vh;

		.inner {
		display: flex;
		justify-content: space-around;
		align-items: center;
		width: 100vh;
		height: $minibar-size;
		transform-origin: left top;
		position: absolute;
		bottom: -#{$minibar-size};
		text-align: center;
		-webkit-transform: rotate(-90deg);
		-moz-transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
		-o-transform: rotate(-90deg);
		filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	}

	h1 {
		line-height: 1.1;
		margin: 0;
	}
}

.rotate {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
}
